/* dynaXML CONTENT stylesheet */
/* ADHO custom by RSH */
body {
	font-size: 16px;
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Verdana, sans-serif;
    padding-right: 0px; 
    padding-left: 0px; 
    margin: 0px;
    background-color:#ffffff;
}

/* Links */
a,
a.active,
li a.active {
  	color: #b93826;
}

legend {
  	background-color: #b93826;
  	color: #ffffff;
}

/* Link hovered */
a:hover,
a:focus,
a.active:hover,
a.active:focus,
li a.active:hover,
li a.active:focus {
  	color: #d54b17;
  	border-bottom-color: #d54b17;
}

form {
	display: inline;
}

.clear {
	clear: both;
}

div.header {
	 border: 1px solid #666;
	 width: 100%;
	 border-bottom: 0;
	 margin: 0 auto;
	 background-color: #417ba8;
}
div.dynaxml.header {
	 border: 1px solid #666;
	 width: 100%;
	 border-bottom: 0;
	 margin: 0 auto;
	 background-color: #417ba8;
}

div.header img {
	border: 0;
}

div.header img.left-logo {
	float: left;
	margin: 5px 5px
}

div.header img.right-logo {
	float: right;
	margin: 5px 5px;
}

div.header .text_line {
    text-align: center;
	color: #FFF;
	margin-top: 30px;
	font-size: 36px;
} 

div.footer {
	width: 100%;
 	text-align: center;
	padding: 10px 0;
	margin-bottom: 0;
	background-color: #417ba8;
	text-color: #FFF;
	position: fixed;
}
div.footer a {
      color: #ffffff;
}

.hit  {
	background-color: #D6DCE5; 
	color: red; 
	font-weight: bold;
}

.subhit  {
	color: red; 
	font-weight: bold;
}

.hitsection  {
	background-color: #D6DCE5;
}

