/* crossQuery RESULTS stylesheet */
/* Modified for DH Abstracts */

body {
	font-size: 16px;
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Verdana, sans-serif;
    background-color:#ffffff;
 	/* margin: 0px; */
 	border-right: 1px solid #666666;
 	border-left: 1px solid #666666;
 }	

/* Links */
a,
a.active,
li a.active {
  	color: #b93826;
}

legend {
  	background-color: #b93826;
  	color: #ffffff;
}

/* Link hovered */
a:hover,
a:focus,
a.active:hover,
a.active:focus,
li a.active:hover,
li a.active:focus {
  	color: #b93826;;
  	border-bottom-color: #b93826;;
}
p.clear {
    clear: both;
}
/* Link hovered */
a:hover,
a:focus,
a.active:hover,
a.active:focus,
li a.active:hover,
li a.active:focus {
  	color: #b93826;;
  	border-bottom-color: #b93826;;
}

form {
	display: inline;
}

.clear {
	clear: both;
}

div.header {
    /* margin: 10px 0 10px 0; */
    padding-top: 10px;
	/* width: 100%;
	border-bottom: 0;
	margin: 0 auto; */
	background-color: #417ba8;
}

div.header img {
	border: 0;
}

div.header img.left-logo {
	float: left;
	margin: 10px;
}

div.header img.right-logo {
	float: right;
	margin: 10px;
}

div.header .text_line {
    text-align: center;
	color: #ffffff;
	margin-top: 30px;
	font-size: 36px;
	padding-left: 40px;
} 
div.header h1 > a {
    text-decoration: none;
     color: #ffffff;
}
div.footer {
   	margin-bottom: 0;
	width: 100%;
	text-align: center;
	padding: 10px 0;
	background-color: #417ba8;
	text-color: #ffffff;
	position: relative;
}
div.footer a {
    color: #ffffff;
}

/* Forms */

div.searchPage {
	background-color: #ffffff;
    margin: 0px 0 0px 0;
	/*  border: 1px solid #666666;
	width: 100%;
	border-right: 1px solid #666666;
	border-left: 1px solid #666666;
	border-top: 1px solid #999;
	border-bottom: 1px solid #666666; */
}

div.forms {
	min-height: 500px;
}

div.forms table {
   width: 100%;
}

div.forms table,
div.forms table td {
	/*border: 1px solid #ccc;*/
}

div.forms table td.tab,
div.forms table td.tab-select {
	width: 30%;
	text-align: center;
	padding: 0.5em;
}

div.forms table td.tab {
   	/* border: 1px solid #999; */
	background-color: #c0c0c0;
}

div.forms table td.tab-select {
   	/* border: 1px solid #999; */
   	border-bottom: 0;
   	background-color: #c0c0c0; 
}

div.forms table td.tab a {
	text-decoration: none;
	color: #424F8D;
}

div.forms table td.tab a:hover {
	text-decoration: underline;
	color: #b93826;
}

div.forms table td.tab-select a {
	color: #b93826;
}

div.form {
    width: 99%;
    margin-top: 40px;
    margin-left: 54px; /*	changed from 10px */
   /* text-align: center; */
}

/* added to resize search box slightly larger */
div.form input[name="keyword"] {    
    height: 25px;
    width: 400px;
    margin-top: 40px;
    padding: 0px;
    font-family: georgia, times, serif;
    font-size: 16px;
}
   /* ADHO new div class for advanced buttons */
div.center-buttons {
    margin-left: 40%;
}
/*  ADHO increase size of buttons */
div.center-buttons > input {
    font-size: 14px;
}
.form table {
	margin: 0 auto;
}

div.form table.top_table {
	width: 85%;
	margin: 0 auto;
	font-size: 85%;
}

div.form table.left_table {
	border-right: 1px solid #ccc;
	text-align: left;
	margin-right: 40px;
	width: 80%;
}

div.form table.right_table {
	margin: 0 25px;
	width: 80%;
}

div.form table h4 {
	margin: 10px 0 20px 0;
}

div.form table,
div.form table td {
	/*border: 1px solid #ccc;*/
}

div.form table td {
	vertical-align: top;
	text-align: left;
}

div.form table td table td {
	vertical-align: middle;
}

div.form table td.indent {
   width: 2px;
}

table.sampleTable {
	padding-top: 50px;
	padding-left: 50px;
    font-size: 80%;
}

table.sampleTable td {
	padding: 5px;
}

table td.sampleQuery {
   font-family: courier, serif;
   border-style: solid;
   border-color: black;
   border-width: 1px 1px 1px 1px;
}

table td.sampleDescrip {
    font-style: italic;
}

/* Results */

div.resultsHeader {
   	width: 100%;
	border-right: 1px solid #666;
	border-left: 1px solid #666;
	border-top: 1px solid #999;
	border-bottom: 1px solid #999;
	background-color: #dededf;
	margin-left: auto;
	margin-right: auto;
}

div.resultsHeader table {
   width: 100%;
}

div.resultsHeader table td {
	padding: 2px 5px;
}

td.right {
   text-align: right;
}

td.left {
   text-align: left;
}

td.center {
   text-align: center;
	 padding: 10px;
}

div.query {
   width: 350px;
float: left;
}

div.label {
   float: left;
}

div.resultsHeader .subQuery {
	float: left;
}

div.results {
   	margin: 0 auto;
   	background-color: white;
	width: 99%;
	/* border: 1px solid #666; */
	border-top: 0;
}

div.results table {
	margin: 0 10px;
}

div.results table td {
   vertical-align: top;
}

div.results table td.facet{
   width: 25%;
}

div.facetGroup {
	font-size: 95%;	
}

div.results table td.docHit{
}

div.docHit {
	background-color: #FAFAFB;
	border: 1px solid #ccc;
	margin: 10px 0 10px 0;
	padding: 10px;
}

div.docHit table td {
	/* border: 1px solid red; */
}

div#main_2, div#main_4, div#main_6, div#main_8, div#main_10, div#main_12 {
	
}

div.docHit table td.col1{
   width: 4%;
   text-align: left;
}

div.docHit table td.col2{
   width: 10%;
   text-align: right;
}

div.docHit table td.col3{
   width: auto;
   text-align: left;
}

div.docHit table td.col4{
   width: 10%;
   text-align: right;
}

div.docHit .typeIcon {
	vertical-align: text-top;
	margin-left: 1px;
}

.hit {
   color: #FD8239;
   font-weight: bold;
}

.subhit {
   color: #FD8239;
   font-weight: bold;
   margin-left: 5px;
}

.hitsection {
   background-color: #D6DCE5;
}

div.facetName {
  font-weight: bold;
	margin: 10px 0;
	font-size: 95%;
}

div.facet table {
   border-style: none;
}

div.facet table td.col1 {
   width: 12px;
   text-align: center;
   vertical-align: middle;
   padding-right: 0.5em;
	 color: #6699CC;
}

div.facet table td.col2 {
   padding-bottom: 0.1em;
   padding-top: 0.1em;
}

div.facet table td.col3 {
   text-align: right;
}

div.facetMore {
   margin-top: 0.5em;
   margin-left: 2em;
}

div.facetLess {
   margin-left: 2em;
   margin-bottom: 0.5em;
}

div.getAddress {
	width: 95%;
	margin: 0 auto;
	background-color: #fff;
	border: 1px solid #666;
	border-top: 0;
	padding: 10px;
}

div.getAddress h2 {
	margin: 0 0 10px 0;
	font-size: 120%;
}
