/* PRINT stylesheet */
/* ADHO custom by RSH */
@import url('http://fonts.googleapis.com/css?family=Arvo:400,700,400italic,700italic|Gentium+Book+Basic:400,400italic,700,700italic');
body {
    background-color:#FFFFFF;
	color: #333;
}
div.content {
    padding-top: 0.5em;
    padding-left: 3em;
    padding-right: 3em;
    padding-bottom: 2em;
}

/* Links */
a,
a.active,
li a.active {
  color: #b93826;
}

legend {
  background-color: #b93826;
  color: #ffffff;
}

/* Link hovered */
a:hover,
a:focus,
a.active:hover,
a.active:focus,
li a.active:hover,
li a.active:focus {
  color: #d54b17;
  border-bottom-color: #d54b17;
}

form {
	display: inline;
}

.clear {
	clear: both;
}

div.header {
	 border: 1px solid #666;
	 width: 100%;
	 border-bottom: 0;
	 margin: 0 auto;
	 background-color: #417ba8;
}
div.dynaxml.header {
	 border: 1px solid #666;
	 width: 100%;
	 border-bottom: 0;
	 margin: 0 auto;
	 background-color: #417ba8;
}

div.header img {
	border: 0;
}

div.header img.left-logo {
	float: left;
	margin: 5px 5px
}

div.header img.right-logo {
	float: right;
	margin: 5px 5px;
}

div.header .text_line {
    text-align: center;
	color: #FFF;
	margin-top: 30px;
	font-size: 36px;
} 

div.footer {
   margin: 0 auto;
	width: 100%;
	 text-align: center;
	 padding: 10px 0;
	 margin-bottom: 1px;
	 background-color: #417ba8;
	 text-color: #FFF;
}
div.footer a {
      color: #ffffff;
}

.hit  {
background-color: #D6DCE5; 
color: red; 
font-weight: bold;
}

.subhit  {
color: red; 
font-weight: bold;
}

.hitsection  {
background-color: #D6DCE5;
}

